<div id="main">
    <div class="row">
        <div class="col col-lg-8 mt-4 pt-4">
            <p class="lh-lg text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores minima
                amet nemo alias
                nostrum!
                Molestiae
                eaque, aliquid libero blanditiis odio nihil pariatur atque quod asperiores. Modi similique qui voluptas
                mollitia architecto, harum, ut nihil magnam quisquam tempore, ratione quia? Dolorum optio animi
                officiis, ad
                voluptatum quidem sit unde earum explicabo eveniet magnam veniam possimus ducimus, inventore a. Enim
                explicabo quidem error, deleniti repudiandae porro recusandae assumenda eius ut perspiciatis esse quam
                tempore possimus veritatis, laborum consectetur fugiat! Ea at nostrum quasi. Fuga eum, facere fugiat
                maxime
                consequatur quos odio! Culpa cumque expedita minus consectetur maxime voluptate. Hic quae suscipit
                doloribus.</p>
        </div>
        <div class="col col-lg-3">
            <img src="../../../assets/angular-logo (1).png" alt="">
        </div>
    </div>
</div>